body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #00162b;
  color: white;
  transition: background 0.2s linear;
  max-width: 100%;
}

.light-mode {
  background-color: white;
  color: black;
}

#header-container {
  text-align: center;
}

#header {
  display: inline-block;
}

#toggle {
  float: right;
  margin-right: 2%;
}

#checkbox {
  opacity: 0;
  position: absolute;  
}

label {
  background-color: black;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  position: relative;
  padding: 3px 8px;
  width: 50px;
  height: 28px;
}

.fa-moon, .fa-sun {
  color: white;
}

.ball {
  background-color: white;  
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 28px;
  height: 28px;
  transition: transform 0.2s linear;
}

.checkbox:checked + label .ball {
  transform: translate(33px);
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
}   

section {
    margin: 0px 40px 40px;
}

video {
    display: block;
    margin: auto;
    max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-links {
  text-decoration: underline;
}

li {
  margin-bottom: 10px;
}

h1 {
    font-size: 5em;
    font-weight: normal;
    text-align: center;
}

.glow {
  color: #fff;
  text-shadow: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #0fa,
  0 0 82px #0fa,
  0 0 92px #0fa,
  0 0 102px #0fa,
  0 0 151px #0fa;

  animation: glowLights 2.5s infinite alternate;
}

@keyframes glowLights {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
}
  0% {
    /* Smaller blur radius */
    text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #0fa,
      0 0 45px #0fa,
      0 0 55px #0fa,
      0 0 70px #0fa,
      0 0 80px #0fa;
  }
}

@media screen and (prefers-reduced-motion) { 
  h1 {
    animation: none;
  }
}

@media all and (max-width: 500px) {
  body {
    display: grid;
  }

  #container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}


